<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Rethink+Sans&family=Source+Serif+4:opsz,wght@8..60,600&display=swap" rel="stylesheet">
</head>
    
<body>
    
<main>

    <h1 class = "Head"> Bavas Blogs </h1>